/* DOM */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background:lightgrey;
}
body {

}
/* class */
.userFrame {
   position:absolute;
   height:100%;
   width:100%;
}
.dvButtons {
    background: lightgrey;
    position: absolute;
    width: 100%;
    bottom: 40px;
}
.theBtns {
    padding: 12px 0;
    width: 6.25%;
    font-size: 120%;
    border: none;
    float: left;
}
    .theBtns:hover {
        background: #8effff;
    }
    .theBtns:active {
        background: #80e9e9;
    }
.output {
    position: relative;
    padding: 12px 0;
    width:50%;
    display:inline-block;
    font-size: 120%;
    overflow:hidden;
    clear:both;
    background: lightgrey;
}
/* ID */

/* keyframes */
